.navBar {
   border: solid 1px black;
   background-color: #0b0c18;
   height: 150px;
   color: white;
}

.profile {
   border: solid 1px blue;
}

.menu {
   border: solid 1px red;
}

.network {
   border: solid 1px green;
}
